div.goodsGrowthHeader {
    font-weight: bold;
    text-align: center;
    color: white;
}
div.lightCity {
    border: 2px solid #d0d0d0;
}
div.darkCity {
    border: 2px solid black;
}

div.cubeSpot {
    width: 16px;
    height: 16px;
}

div.cube {
    margin: 2px 0 0 2px;
    width: 12px;
    height: 12px;
    box-shadow: 3px 3px 3px black;
}

tr.goodsGrowthHeaderRow > td {
    background: #F8F0E3;
}
