div.goodsGrowthHeader {
    font-weight: bold;
    text-align: center;
}
div.lightCity {
    color: black;
    background: white;
}
div.darkCity {
    color: white;
    background: black;
}

div.cubeSpot {
    width: 16px;
    height: 16px;
}

div.cube {
    margin: 2px 0 0 2px;
    width: 12px;
    height: 12px;
    box-shadow: 3px 3px 3px black;
}
